* {
    font-family: Noto Sans, Helvetica, Arial, sans-serif;
}

body {
    background-image: url("background_main.jpg");
    background-size: 2000px;
}

header {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

@media screen and (max-width: 500px) {
    header {
        flex-direction: column;
    }
}

section.about_me div.about_me_text_picture {
    display: flex;
    justify-content: center;
}

.main_picture {
    width: 200px;
    height: auto;
}

footer div.kontaktinfo {
    display: flex;
    justify-content: flex-start;
}

footer div.kontaktinfo p {
    padding-right: 5px;
}

ul.erhvervserfaring li {
    list-style: none;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
}

ul.erhvervserfaring li:hover {
    font-size: 20px;
}

