* {
    font-family: "Segoe UI";
    color: white;
    text-align: center;
}

body {
    background-image: url("background.main.jpg");
    background-color: rgba(152, 215, 165, 0.65);
    background-blend-mode: lighten;
    background-size: 2500px;
    background-repeat: no-repeat;
    background-position: center;
}

.dark {
    background-color: rgba(0, 54, 36, 0.8);
    color: lightgreen;
}

.toggler-container {
    width: 100px;
    height: 35px;
    border-radius: 60px;
    background-color: white;
    padding: 5px;
    display: flex;
    align-items: center;
}

.toggler {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: lightgreen;
    margin-left: 5px;
    transition: transform 0.5s;
}

#switch:checked + .toggler-container .toggler {
    transform: translate(55px);
}

.mode {
    font-weight: bold;
}

header a {
    font-size: 25px;
    color: green;
    text-decoration: none;
}

div.navigation_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 40px;
}

header button {
    padding: 1em 2em;
    background-color: white;
    border: 2px solid white;
    color: green;
    border-radius: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    min-width: 150px;
    height: 45px;
    float: none;
}

button::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, green, lightgreen);
    z-index: -1;
}

header a:hover {
    color: white;
}

button:hover {
    z-index: 0;
}

@media screen and (max-width: 1000px) {
    header {
        flex-direction: column;
    }
}

section.about_me div.about_me_text_picture {
    display: flex;
    justify-content: center;
}

main {
    clear: both;
}

main section div.about_me_text_picture {
    display: flex;
    justify-content: center;
}

img.profile-picture {
    border-radius: 50%;
    height: 300px;
    width: auto;
    align-items: center;
    border: 5px solid white;
    margin-top: 100px;
    margin-bottom: 2px;
}

@media screen and (max-width: 1000px) {
    img {
        clear: both;
    }
}

footer div.kontaktinfo {
    display: flex;
    justify-content: center;
}

footer div.kontaktinfo p {
    padding-right: 5px;
}

section.resume {
    clear: both;
}

ul.erhvervserfaring li {
    list-style: none;
    margin-bottom: 10px;
    border: 10px blue;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 2px 5px 2px purple;
}

div.about_me_text {
    clear: both;
}

p.mit-navn-er {
    font-size: 75px;
    font-weight: bold;
    margin: 2px;
}

p.andreas-brandenborg {
    font-size: 70px;
    font-weight: bold;
    margin: 2px;
}

hr.main-page {
    width: 800px;
    height: 2px;
}

p.summary {
    font-size: 35px;
    font-weight: bold;
}

footer {
    clear: both;
}
